body{
    background-color: #1c1c1e !important; ;
}
.sobreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
.listaIcones{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.listaIcones img{
    width: 150px;
    margin-top: 1rem;
}

.listaIcones img:hover{
    width: 160px;
    transition: .5s;
}


.container{
    margin-top: 5rem;
    
}
.sobreMimContainer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.imgPerfilSobre{
    width: 400px;
    border-radius: 150px

    
}


@media screen and (max-width:768px){
    
    
    .listaIcones img{
        width: 120px;
    }

    .listaIcones img:hover{ 
      width: 120px;  
    }



    .imgPerfilSobre{
        width: 300px;
    }

    .container{
        text-align: center;
    }
}